<!DOCTYPE html>
<html>
<head>
    <title>Welcome to  МУТН </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'admissions/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Международный Университет Технологий и Наук</h1>
        <p>Это ведущий академический институт, расположенный в сердце живописного европейского города. МУТН гордится своей выдающейся репутацией и многолетней историей предоставления качественного образования и передовых исследований.
Программы обучения

МУТН предлагает три уровня академических программ: бакалавриат, магистратура и докторантура, обеспечивая всестороннее образование и глубокие знания в выбранной области.</p>
        <a href="{% url 'applicant_form' %}" class="btn">Продолжить</a>
    </div>
</body>
</html>
